<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.BankRecordDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.BankRecord">
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="bankname" property="bankname" jdbcType="VARCHAR" />
                <result column="bankcode" property="bankcode" jdbcType="VARCHAR" />
                <result column="zhihangname" property="zhihangname" jdbcType="VARCHAR" />
                <result column="zhihangcode" property="zhihangcode" jdbcType="VARCHAR" />
                <result column="wangdianname" property="wangdianname" jdbcType="VARCHAR" />
                <result column="wangdiancode" property="wangdiancode" jdbcType="VARCHAR" />
                <result column="mzhuanguanyuan" property="mzhuanguanyuan" jdbcType="VARCHAR" />
                <result column="mzhuanguanyuancode" property="mzhuanguanyuancode" jdbcType="VARCHAR" />
                <result column="szhuanguanyuan" property="szhuanguanyuan" jdbcType="VARCHAR" />
                <result column="szhuanguanyuancode" property="szhuanguanyuancode" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.id
                , t.bankname
                , t.bankcode
                , t.zhihangname
                , t.zhihangcode
                , t.wangdianname
                , t.wangdiancode
                , t.mzhuanguanyuan
                , t.mzhuanguanyuancode
                , t.szhuanguanyuan
                , t.szhuanguanyuancode
        		FROM bank_record t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM bank_record t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.BankRecord"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO bank_record
         (
                                                  `bankname`
                                        , `bankcode`
                                        , `zhihangname`
                                        , `zhihangcode`
                                        , `wangdianname`
                                        , `wangdiancode`
                                        , `mzhuanguanyuan`
                                        , `mzhuanguanyuancode`
                                        , `szhuanguanyuan`
                                        , `szhuanguanyuancode`
                              )
	VALUES (
                                                  #{bankname,jdbcType=VARCHAR}
                                        , #{bankcode,jdbcType=VARCHAR}
                                        , #{zhihangname,jdbcType=VARCHAR}
                                        , #{zhihangcode,jdbcType=VARCHAR}
                                        , #{wangdianname,jdbcType=VARCHAR}
                                        , #{wangdiancode,jdbcType=VARCHAR}
                                        , #{mzhuanguanyuan,jdbcType=VARCHAR}
                                        , #{mzhuanguanyuancode,jdbcType=VARCHAR}
                                        , #{szhuanguanyuan,jdbcType=VARCHAR}
                                        , #{szhuanguanyuancode,jdbcType=VARCHAR}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.BankRecord">
    UPDATE bank_record
    SET 
                                                     
        <if test="bankname!=null and bankname!=''">
         bankname=#{bankname,jdbcType=VARCHAR}
        </if>
                                      
        <if test="bankcode!=null and bankcode!=''">
        ,
         bankcode=#{bankcode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zhihangname!=null and zhihangname!=''">
        ,
         zhihangname=#{zhihangname,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zhihangcode!=null and zhihangcode!=''">
        ,
         zhihangcode=#{zhihangcode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="wangdianname!=null and wangdianname!=''">
        ,
         wangdianname=#{wangdianname,jdbcType=VARCHAR}
        </if>
                                      
        <if test="wangdiancode!=null and wangdiancode!=''">
        ,
         wangdiancode=#{wangdiancode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="mzhuanguanyuan!=null and mzhuanguanyuan!=''">
        ,
         mzhuanguanyuan=#{mzhuanguanyuan,jdbcType=VARCHAR}
        </if>
                                      
        <if test="mzhuanguanyuancode!=null and mzhuanguanyuancode!=''">
        ,
         mzhuanguanyuancode=#{mzhuanguanyuancode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="szhuanguanyuan!=null and szhuanguanyuan!=''">
        ,
         szhuanguanyuan=#{szhuanguanyuan,jdbcType=VARCHAR}
        </if>
                                      
        <if test="szhuanguanyuancode!=null and szhuanguanyuancode!=''">
        ,
         szhuanguanyuancode=#{szhuanguanyuancode,jdbcType=VARCHAR}
        </if>
                      WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.BankRecord">
		SELECT 
                         id
                , bankname
                , bankcode
                , zhihangname
                , zhihangcode
                , wangdianname
                , wangdiancode
                , mzhuanguanyuan
                , mzhuanguanyuancode
                , szhuanguanyuan
                , szhuanguanyuancode
        		FROM bank_record t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.BankRecord">
		DELETE FROM bank_record
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>