<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.BizplatformDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.Bizplatform">
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="title" property="title" jdbcType="VARCHAR" />
                <result column="zhishibaifang" property="zhishibaifang" jdbcType="VARCHAR" />
                <result column="caiye" property="caiye" jdbcType="VARCHAR" />
                <result column="startdate" property="startdate" jdbcType="VARCHAR" />
                <result column="enddate" property="enddate" jdbcType="VARCHAR" />
                <result column="huashu" property="huashu" jdbcType="VARCHAR" />
                <result column="jishuziliao" property="jishuziliao" jdbcType="VARCHAR" />
                <result column="others" property="others" jdbcType="VARCHAR" />
                <result column="empcode" property="empcode" jdbcType="VARCHAR" />
                <result column="orgcode" property="orgcode" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.id
                , t.title
                , t.zhishibaifang
                , t.caiye
                , t.startdate
                , t.enddate
                , t.huashu
                , t.jishuziliao
                , t.others
                , t.empcode
                , t.orgcode
        		FROM bizplatform t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>

    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM bizplatform t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.Bizplatform"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	INSERT INTO bizplatform
         (
                                         `title`
                                        , `zhishibaifang`
                                        , `caiye`
                                        , `startdate`
                                        , `enddate`
                                        , `huashu`
                                        , `jishuziliao`
                                        , `others`
                                        , `empcode`
                                        , `orgcode`
                              )
	VALUES (
                                         #{title,jdbcType=VARCHAR}
                                        , #{zhishibaifang,jdbcType=VARCHAR}
                                        , #{caiye,jdbcType=VARCHAR}
                                        , #{startdate,jdbcType=VARCHAR}
                                        , #{enddate,jdbcType=VARCHAR}
                                        , #{huashu,jdbcType=VARCHAR}
                                        , #{jishuziliao,jdbcType=VARCHAR}
                                        , #{others,jdbcType=VARCHAR}
                                        , #{empcode,jdbcType=VARCHAR}
                                        , #{orgcode,jdbcType=VARCHAR}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.Bizplatform">
    UPDATE bizplatform
    SET 
                                                     
        <if test="title!=null and title!=''">
         title=#{title,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zhishibaifang!=null and zhishibaifang!=''">
        ,
         zhishibaifang=#{zhishibaifang,jdbcType=VARCHAR}
        </if>
                                      
        <if test="caiye!=null and caiye!=''">
        ,
         caiye=#{caiye,jdbcType=VARCHAR}
        </if>
                                      
        <if test="startdate!=null and startdate!=''">
        ,
         startdate=#{startdate,jdbcType=VARCHAR}
        </if>
                                      
        <if test="enddate!=null and enddate!=''">
        ,
         enddate=#{enddate,jdbcType=VARCHAR}
        </if>
                                      
        <if test="huashu!=null and huashu!=''">
        ,
         huashu=#{huashu,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jishuziliao!=null and jishuziliao!=''">
        ,
         jishuziliao=#{jishuziliao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="others!=null and others!=''">
        ,
         others=#{others,jdbcType=VARCHAR}
        </if>
                                      
        <if test="empcode!=null and empcode!=''">
        ,
         empcode=#{empcode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="orgcode!=null and orgcode!=''">
        ,
         orgcode=#{orgcode,jdbcType=VARCHAR}
        </if>
                      WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.Bizplatform">
		SELECT 
                         id
                , title
                , zhishibaifang
                , caiye
                , startdate
                , enddate
                , huashu
                , jishuziliao
                , others
                , empcode
                , orgcode
        		FROM bizplatform t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.Bizplatform">
		DELETE FROM bizplatform
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>