<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.BizRecordDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.BizRecord">
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="yaoyue_num" property="yaoyueNum" jdbcType="VARCHAR" />
                <result column="daohui_num" property="daohuiNum" jdbcType="VARCHAR" />
                <result column="receive_num" property="receiveNum" jdbcType="VARCHAR" />
                <result column="receive_baofei" property="receiveBaofei" jdbcType="VARCHAR" />
                <result column="daohuilv" property="daohuilv" jdbcType="VARCHAR" />
                <result column="qiandan_num" property="qiandanNum" jdbcType="VARCHAR" />
                <result column="qiandanlv" property="qiandanlv" jdbcType="VARCHAR" />
                <result column="huishoulv" property="huishoulv" jdbcType="VARCHAR" />
                <result column="kehujingli" property="kehujingli" jdbcType="VARCHAR" />
                <result column="qiandan_baofei" property="qiandanBaofei" jdbcType="VARCHAR" />
                <result column="riqi" property="riqi" jdbcType="VARCHAR" />
                <result column="bizplat_title" property="bizplatTitle" jdbcType="VARCHAR" />
                <result column="bizpalt_id" property="bizpaltId" jdbcType="INTEGER" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.id
                , t.yaoyue_num
                , t.daohui_num
                , t.receive_num
                , t.receive_baofei
                , t.daohuilv
                , t.qiandan_num
                , t.qiandanlv
                , t.huishoulv
                , t.kehujingli
                , t.qiandan_baofei
                , t.riqi
                , t.bizplat_title
                , t.bizpalt_id
        		FROM biz_record t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM biz_record t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.BizRecord"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO biz_record
         (
                                                  `yaoyue_num`
                                        , `daohui_num`
                                        , `receive_num`
                                        , `receive_baofei`
                                        , `daohuilv`
                                        , `qiandan_num`
                                        , `qiandanlv`
                                        , `huishoulv`
                                        , `kehujingli`
                                        , `qiandan_baofei`
                                        , `riqi`
                                        , `bizplat_title`
                                        , `bizpalt_id`
                              )
	VALUES (
                                                  #{yaoyueNum,jdbcType=VARCHAR}
                                        , #{daohuiNum,jdbcType=VARCHAR}
                                        , #{receiveNum,jdbcType=VARCHAR}
                                        , #{receiveBaofei,jdbcType=VARCHAR}
                                        , #{daohuilv,jdbcType=VARCHAR}
                                        , #{qiandanNum,jdbcType=VARCHAR}
                                        , #{qiandanlv,jdbcType=VARCHAR}
                                        , #{huishoulv,jdbcType=VARCHAR}
                                        , #{kehujingli,jdbcType=VARCHAR}
                                        , #{qiandanBaofei,jdbcType=VARCHAR}
                                        , #{riqi,jdbcType=VARCHAR}
                                        , #{bizplatTitle,jdbcType=VARCHAR}
                                        , #{bizpaltId,jdbcType=INTEGER}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.BizRecord">
    UPDATE biz_record
    SET 
                                                     
        <if test="yaoyueNum!=null and yaoyueNum!=''">
         yaoyue_num=#{yaoyueNum,jdbcType=VARCHAR}
        </if>
                                      
        <if test="daohuiNum!=null and daohuiNum!=''">
        ,
         daohui_num=#{daohuiNum,jdbcType=VARCHAR}
        </if>
                                      
        <if test="receiveNum!=null and receiveNum!=''">
        ,
         receive_num=#{receiveNum,jdbcType=VARCHAR}
        </if>
                                      
        <if test="receiveBaofei!=null and receiveBaofei!=''">
        ,
         receive_baofei=#{receiveBaofei,jdbcType=VARCHAR}
        </if>
                                      
        <if test="daohuilv!=null and daohuilv!=''">
        ,
         daohuilv=#{daohuilv,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qiandanNum!=null and qiandanNum!=''">
        ,
         qiandan_num=#{qiandanNum,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qiandanlv!=null and qiandanlv!=''">
        ,
         qiandanlv=#{qiandanlv,jdbcType=VARCHAR}
        </if>
                                      
        <if test="huishoulv!=null and huishoulv!=''">
        ,
         huishoulv=#{huishoulv,jdbcType=VARCHAR}
        </if>
                                      
        <if test="kehujingli!=null and kehujingli!=''">
        ,
         kehujingli=#{kehujingli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qiandanBaofei!=null and qiandanBaofei!=''">
        ,
         qiandan_baofei=#{qiandanBaofei,jdbcType=VARCHAR}
        </if>
                                      
        <if test="riqi!=null and riqi!=''">
        ,
         riqi=#{riqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="bizplatTitle!=null and bizplatTitle!=''">
        ,
         bizplat_title=#{bizplatTitle,jdbcType=VARCHAR}
        </if>
                                      
        <if test="bizpaltId!=null and bizpaltId!=''">
        ,
         bizpalt_id=#{bizpaltId,jdbcType=INTEGER}
        </if>
                      WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.BizRecord">
		SELECT 
                         id
                , yaoyue_num
                , daohui_num
                , receive_num
                , receive_baofei
                , daohuilv
                , qiandan_num
                , qiandanlv
                , huishoulv
                , kehujingli
                , qiandan_baofei
                , riqi
                , bizplat_title
                , bizpalt_id
        		FROM biz_record t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.BizRecord">
		DELETE FROM biz_record
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>