<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.FenpeilishiDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.Fenpeilishi">
                <result column="fenpeiren_code" property="fenpeirenCode" jdbcType="VARCHAR" />
                <result column="fenpeiren_name" property="fenpeirenName" jdbcType="VARCHAR" />
                <result column="kehujingli_code" property="kehujingliCode" jdbcType="VARCHAR" />
                <result column="kehujingli_name" property="kehujingliName" jdbcType="VARCHAR" />
                <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
                <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
                <result column="fenpeishijian" property="fenpeishijian" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.fenpeiren_code
                , t.fenpeiren_name
                , t.kehujingli_code
                , t.kehujingli_name
                , t.customer_id
                , t.customer_name
                , t.fenpeishijian
        		FROM fenpeilishi t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.fenpeishijian desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM fenpeilishi t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.Fenpeilishi"
    >
	INSERT INTO fenpeilishi
         (
                              `fenpeiren_code`
                                        , `fenpeiren_name`
                                        , `kehujingli_code`
                                        , `kehujingli_name`
                                        , `customer_id`
                                        , `customer_name`
                                        , `fenpeishijian`
                              )
	VALUES (
                              #{fenpeirenCode,jdbcType=VARCHAR}
                                        , #{fenpeirenName,jdbcType=VARCHAR}
                                        , #{kehujingliCode,jdbcType=VARCHAR}
                                        , #{kehujingliName,jdbcType=VARCHAR}
                                        , #{customerId,jdbcType=VARCHAR}
                                        , #{customerName,jdbcType=VARCHAR}
                                        , #{fenpeishijian,jdbcType=VARCHAR}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.Fenpeilishi">
    UPDATE fenpeilishi
    SET 
                                 
        <if test="fenpeirenCode!=null and fenpeirenCode!=''">
         fenpeiren_code=#{fenpeirenCode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="fenpeirenName!=null and fenpeirenName!=''">
        ,
         fenpeiren_name=#{fenpeirenName,jdbcType=VARCHAR}
        </if>
                                      
        <if test="kehujingliCode!=null and kehujingliCode!=''">
        ,
         kehujingli_code=#{kehujingliCode,jdbcType=VARCHAR}
        </if>
                                      
        <if test="kehujingliName!=null and kehujingliName!=''">
        ,
         kehujingli_name=#{kehujingliName,jdbcType=VARCHAR}
        </if>
                                      
        <if test="customerId!=null and customerId!=''">
        ,
         customer_id=#{customerId,jdbcType=VARCHAR}
        </if>
                                      
        <if test="customerName!=null and customerName!=''">
        ,
         customer_name=#{customerName,jdbcType=VARCHAR}
        </if>
                                      
        <if test="fenpeishijian!=null and fenpeishijian!=''">
        ,
         fenpeishijian=#{fenpeishijian,jdbcType=VARCHAR}
        </if>
                      WHERE  customer_id=#{customerId,jdbcType=VARCHAR}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.Fenpeilishi">
		SELECT 
                         fenpeiren_code
                , fenpeiren_name
                , kehujingli_code
                , kehujingli_name
                , customer_id
                , customer_name
                , fenpeishijian
        		FROM fenpeilishi t
		WHERE  customer_id=#{customerId,jdbcType=VARCHAR}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.Fenpeilishi">
		DELETE FROM fenpeilishi
		WHERE  customer_id=#{customerId,jdbcType=VARCHAR}
	</delete>

</mapper>