<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.GongzidanDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.Gongzidan">
                <result column="xuhao" property="xuhao" jdbcType="VARCHAR" />
                <result column="bumen" property="bumen" jdbcType="VARCHAR" />
                <result column="xingming" property="xingming" jdbcType="VARCHAR" />
                <result column="xingbie" property="xingbie" jdbcType="VARCHAR" />
                <result column="yinhangzhanghao" property="yinhangzhanghao" jdbcType="VARCHAR" />
                <result column="shenfenzhenghao" property="shenfenzhenghao" jdbcType="VARCHAR" />
                <result column="gonghao" property="gonghao" jdbcType="VARCHAR" />
                <result column="zhijijintie" property="zhijijintie" jdbcType="VARCHAR" />
                <result column="xiaoshoujingyingjintie" property="xiaoshoujingyingjintie" jdbcType="VARCHAR" />
                <result column="xinrenbaohu" property="xinrenbaohu" jdbcType="VARCHAR" />
                <result column="nianzijintie" property="nianzijintie" jdbcType="VARCHAR" />
                <result column="guanlijintie" property="guanlijintie" jdbcType="VARCHAR" />
                <result column="duanxianyongjin" property="duanxianyongjin" jdbcType="VARCHAR" />
                <result column="qudaoyongjin" property="qudaoyongjin" jdbcType="VARCHAR" />
                <result column="ziyingyongjin" property="ziyingyongjin" jdbcType="VARCHAR" />
                <result column="ziyingxuqi" property="ziyingxuqi" jdbcType="VARCHAR" />
                <result column="wangdianxuqi" property="wangdianxuqi" jdbcType="VARCHAR" />
                <result column="jiefa" property="jiefa" jdbcType="VARCHAR" />
                <result column="xiaoji" property="xiaoji" jdbcType="VARCHAR" />
                <result column="qitakoukuan" property="qitakoukuan" jdbcType="VARCHAR" />
                <result column="koukuanxiaoji" property="koukuanxiaoji" jdbcType="VARCHAR" />
                <result column="yingfaxiaoji" property="yingfaxiaoji" jdbcType="VARCHAR" />
                <result column="fengognsijiangli" property="fengognsijiangli" jdbcType="VARCHAR" />
                <result column="jicengjiangli" property="jicengjiangli" jdbcType="VARCHAR" />
                <result column="qitabutie" property="qitabutie" jdbcType="VARCHAR" />
                <result column="jicengqitabutie" property="jicengqitabutie" jdbcType="VARCHAR" />
                <result column="zhanyejintie" property="zhanyejintie" jdbcType="VARCHAR" />
                <result column="fengongsishiwujiangli" property="fengongsishiwujiangli" jdbcType="VARCHAR" />
                <result column="jicengshiwujiangli" property="jicengshiwujiangli" jdbcType="VARCHAR" />
                <result column="baoxianbaozhang" property="baoxianbaozhang" jdbcType="VARCHAR" />
                <result column="yingfaheji" property="yingfaheji" jdbcType="VARCHAR" />
                <result column="weituoshebao" property="weituoshebao" jdbcType="VARCHAR" />
                <result column="chanshuohuikoukuan" property="chanshuohuikoukuan" jdbcType="VARCHAR" />
                <result column="sandaikoukuanhechaoqikoukuan" property="sandaikoukuanhechaoqikoukuan" jdbcType="VARCHAR" />
                <result column="gerensuodeshui" property="gerensuodeshui" jdbcType="VARCHAR" />
                <result column="zengzhishui" property="zengzhishui" jdbcType="VARCHAR" />
                <result column="chengjianshui" property="chengjianshui" jdbcType="VARCHAR" />
                <result column="jiaoyufeifujia" property="jiaoyufeifujia" jdbcType="VARCHAR" />
                <result column="difangjiaoyufeifujia" property="difangjiaoyufeifujia" jdbcType="VARCHAR" />
                <result column="fanghongfei" property="fanghongfei" jdbcType="VARCHAR" />
                <result column="koufengongsishiwujiangli" property="koufengongsishiwujiangli" jdbcType="VARCHAR" />
                <result column="koujicenggongsishiwujiangli" property="koujicenggongsishiwujiangli" jdbcType="VARCHAR" />
                <result column="koubaoxianbaozhang" property="koubaoxianbaozhang" jdbcType="VARCHAR" />
                <result column="shouxianshifajine" property="shouxianshifajine" jdbcType="VARCHAR" />
                <result column="caixianjixiao" property="caixianjixiao" jdbcType="VARCHAR" />
                <result column="koucaixianjixiao" property="koucaixianjixiao" jdbcType="VARCHAR" />
                <result column="shifaheji" property="shifaheji" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.xuhao
                , t.bumen
                , t.xingming
                , t.xingbie
                , t.yinhangzhanghao
                , t.shenfenzhenghao
                , t.gonghao
                , t.zhijijintie
                , t.xiaoshoujingyingjintie
                , t.xinrenbaohu
                , t.nianzijintie
                , t.guanlijintie
                , t.duanxianyongjin
                , t.qudaoyongjin
                , t.ziyingyongjin
                , t.ziyingxuqi
                , t.wangdianxuqi
                , t.jiefa
                , t.xiaoji
                , t.qitakoukuan
                , t.koukuanxiaoji
                , t.yingfaxiaoji
                , t.fengognsijiangli
                , t.jicengjiangli
                , t.qitabutie
                , t.jicengqitabutie
                , t.zhanyejintie
                , t.fengongsishiwujiangli
                , t.jicengshiwujiangli
                , t.baoxianbaozhang
                , t.yingfaheji
                , t.weituoshebao
                , t.chanshuohuikoukuan
                , t.sandaikoukuanhechaoqikoukuan
                , t.gerensuodeshui
                , t.zengzhishui
                , t.chengjianshui
                , t.jiaoyufeifujia
                , t.difangjiaoyufeifujia
                , t.fanghongfei
                , t.koufengongsishiwujiangli
                , t.koujicenggongsishiwujiangli
                , t.koubaoxianbaozhang
                , t.shouxianshifajine
                , t.caixianjixiao
                , t.koucaixianjixiao
                , t.shifaheji
        		FROM gongzidan t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY  t.shenfenzhenghao desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM gongzidan t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.Gongzidan"
    >
	INSERT INTO gongzidan
         (
                              `xuhao`
                                        , `bumen`
                                        , `xingming`
                                        , `xingbie`
                                        , `yinhangzhanghao`
                                        , `shenfenzhenghao`
                                        , `gonghao`
                                        , `zhijijintie`
                                        , `xiaoshoujingyingjintie`
                                        , `xinrenbaohu`
                                        , `nianzijintie`
                                        , `guanlijintie`
                                        , `duanxianyongjin`
                                        , `qudaoyongjin`
                                        , `ziyingyongjin`
                                        , `ziyingxuqi`
                                        , `wangdianxuqi`
                                        , `jiefa`
                                        , `xiaoji`
                                        , `qitakoukuan`
                                        , `koukuanxiaoji`
                                        , `yingfaxiaoji`
                                        , `fengognsijiangli`
                                        , `jicengjiangli`
                                        , `qitabutie`
                                        , `jicengqitabutie`
                                        , `zhanyejintie`
                                        , `fengongsishiwujiangli`
                                        , `jicengshiwujiangli`
                                        , `baoxianbaozhang`
                                        , `yingfaheji`
                                        , `weituoshebao`
                                        , `chanshuohuikoukuan`
                                        , `sandaikoukuanhechaoqikoukuan`
                                        , `gerensuodeshui`
                                        , `zengzhishui`
                                        , `chengjianshui`
                                        , `jiaoyufeifujia`
                                        , `difangjiaoyufeifujia`
                                        , `fanghongfei`
                                        , `koufengongsishiwujiangli`
                                        , `koujicenggongsishiwujiangli`
                                        , `koubaoxianbaozhang`
                                        , `shouxianshifajine`
                                        , `caixianjixiao`
                                        , `koucaixianjixiao`
                                        , `shifaheji`
                              )
	VALUES (
                              #{xuhao,jdbcType=VARCHAR}
                                        , #{bumen,jdbcType=VARCHAR}
                                        , #{xingming,jdbcType=VARCHAR}
                                        , #{xingbie,jdbcType=VARCHAR}
                                        , #{yinhangzhanghao,jdbcType=VARCHAR}
                                        , #{shenfenzhenghao,jdbcType=VARCHAR}
                                        , #{gonghao,jdbcType=VARCHAR}
                                        , #{zhijijintie,jdbcType=VARCHAR}
                                        , #{xiaoshoujingyingjintie,jdbcType=VARCHAR}
                                        , #{xinrenbaohu,jdbcType=VARCHAR}
                                        , #{nianzijintie,jdbcType=VARCHAR}
                                        , #{guanlijintie,jdbcType=VARCHAR}
                                        , #{duanxianyongjin,jdbcType=VARCHAR}
                                        , #{qudaoyongjin,jdbcType=VARCHAR}
                                        , #{ziyingyongjin,jdbcType=VARCHAR}
                                        , #{ziyingxuqi,jdbcType=VARCHAR}
                                        , #{wangdianxuqi,jdbcType=VARCHAR}
                                        , #{jiefa,jdbcType=VARCHAR}
                                        , #{xiaoji,jdbcType=VARCHAR}
                                        , #{qitakoukuan,jdbcType=VARCHAR}
                                        , #{koukuanxiaoji,jdbcType=VARCHAR}
                                        , #{yingfaxiaoji,jdbcType=VARCHAR}
                                        , #{fengognsijiangli,jdbcType=VARCHAR}
                                        , #{jicengjiangli,jdbcType=VARCHAR}
                                        , #{qitabutie,jdbcType=VARCHAR}
                                        , #{jicengqitabutie,jdbcType=VARCHAR}
                                        , #{zhanyejintie,jdbcType=VARCHAR}
                                        , #{fengongsishiwujiangli,jdbcType=VARCHAR}
                                        , #{jicengshiwujiangli,jdbcType=VARCHAR}
                                        , #{baoxianbaozhang,jdbcType=VARCHAR}
                                        , #{yingfaheji,jdbcType=VARCHAR}
                                        , #{weituoshebao,jdbcType=VARCHAR}
                                        , #{chanshuohuikoukuan,jdbcType=VARCHAR}
                                        , #{sandaikoukuanhechaoqikoukuan,jdbcType=VARCHAR}
                                        , #{gerensuodeshui,jdbcType=VARCHAR}
                                        , #{zengzhishui,jdbcType=VARCHAR}
                                        , #{chengjianshui,jdbcType=VARCHAR}
                                        , #{jiaoyufeifujia,jdbcType=VARCHAR}
                                        , #{difangjiaoyufeifujia,jdbcType=VARCHAR}
                                        , #{fanghongfei,jdbcType=VARCHAR}
                                        , #{koufengongsishiwujiangli,jdbcType=VARCHAR}
                                        , #{koujicenggongsishiwujiangli,jdbcType=VARCHAR}
                                        , #{koubaoxianbaozhang,jdbcType=VARCHAR}
                                        , #{shouxianshifajine,jdbcType=VARCHAR}
                                        , #{caixianjixiao,jdbcType=VARCHAR}
                                        , #{koucaixianjixiao,jdbcType=VARCHAR}
                                        , #{shifaheji,jdbcType=VARCHAR}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.Gongzidan">
    UPDATE gongzidan
    SET 
                                 
        <if test="xuhao!=null and xuhao!=''">
         xuhao=#{xuhao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="bumen!=null and bumen!=''">
        ,
         bumen=#{bumen,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xingming!=null and xingming!=''">
        ,
         xingming=#{xingming,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xingbie!=null and xingbie!=''">
        ,
         xingbie=#{xingbie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="yinhangzhanghao!=null and yinhangzhanghao!=''">
        ,
         yinhangzhanghao=#{yinhangzhanghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shenfenzhenghao!=null and shenfenzhenghao!=''">
        ,
         shenfenzhenghao=#{shenfenzhenghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="gonghao!=null and gonghao!=''">
        ,
         gonghao=#{gonghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zhijijintie!=null and zhijijintie!=''">
        ,
         zhijijintie=#{zhijijintie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xiaoshoujingyingjintie!=null and xiaoshoujingyingjintie!=''">
        ,
         xiaoshoujingyingjintie=#{xiaoshoujingyingjintie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xinrenbaohu!=null and xinrenbaohu!=''">
        ,
         xinrenbaohu=#{xinrenbaohu,jdbcType=VARCHAR}
        </if>
                                      
        <if test="nianzijintie!=null and nianzijintie!=''">
        ,
         nianzijintie=#{nianzijintie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="guanlijintie!=null and guanlijintie!=''">
        ,
         guanlijintie=#{guanlijintie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="duanxianyongjin!=null and duanxianyongjin!=''">
        ,
         duanxianyongjin=#{duanxianyongjin,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qudaoyongjin!=null and qudaoyongjin!=''">
        ,
         qudaoyongjin=#{qudaoyongjin,jdbcType=VARCHAR}
        </if>
                                      
        <if test="ziyingyongjin!=null and ziyingyongjin!=''">
        ,
         ziyingyongjin=#{ziyingyongjin,jdbcType=VARCHAR}
        </if>
                                      
        <if test="ziyingxuqi!=null and ziyingxuqi!=''">
        ,
         ziyingxuqi=#{ziyingxuqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="wangdianxuqi!=null and wangdianxuqi!=''">
        ,
         wangdianxuqi=#{wangdianxuqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jiefa!=null and jiefa!=''">
        ,
         jiefa=#{jiefa,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xiaoji!=null and xiaoji!=''">
        ,
         xiaoji=#{xiaoji,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qitakoukuan!=null and qitakoukuan!=''">
        ,
         qitakoukuan=#{qitakoukuan,jdbcType=VARCHAR}
        </if>
                                      
        <if test="koukuanxiaoji!=null and koukuanxiaoji!=''">
        ,
         koukuanxiaoji=#{koukuanxiaoji,jdbcType=VARCHAR}
        </if>
                                      
        <if test="yingfaxiaoji!=null and yingfaxiaoji!=''">
        ,
         yingfaxiaoji=#{yingfaxiaoji,jdbcType=VARCHAR}
        </if>
                                      
        <if test="fengognsijiangli!=null and fengognsijiangli!=''">
        ,
         fengognsijiangli=#{fengognsijiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jicengjiangli!=null and jicengjiangli!=''">
        ,
         jicengjiangli=#{jicengjiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="qitabutie!=null and qitabutie!=''">
        ,
         qitabutie=#{qitabutie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jicengqitabutie!=null and jicengqitabutie!=''">
        ,
         jicengqitabutie=#{jicengqitabutie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zhanyejintie!=null and zhanyejintie!=''">
        ,
         zhanyejintie=#{zhanyejintie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="fengongsishiwujiangli!=null and fengongsishiwujiangli!=''">
        ,
         fengongsishiwujiangli=#{fengongsishiwujiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jicengshiwujiangli!=null and jicengshiwujiangli!=''">
        ,
         jicengshiwujiangli=#{jicengshiwujiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="baoxianbaozhang!=null and baoxianbaozhang!=''">
        ,
         baoxianbaozhang=#{baoxianbaozhang,jdbcType=VARCHAR}
        </if>
                                      
        <if test="yingfaheji!=null and yingfaheji!=''">
        ,
         yingfaheji=#{yingfaheji,jdbcType=VARCHAR}
        </if>
                                      
        <if test="weituoshebao!=null and weituoshebao!=''">
        ,
         weituoshebao=#{weituoshebao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="chanshuohuikoukuan!=null and chanshuohuikoukuan!=''">
        ,
         chanshuohuikoukuan=#{chanshuohuikoukuan,jdbcType=VARCHAR}
        </if>
                                      
        <if test="sandaikoukuanhechaoqikoukuan!=null and sandaikoukuanhechaoqikoukuan!=''">
        ,
         sandaikoukuanhechaoqikoukuan=#{sandaikoukuanhechaoqikoukuan,jdbcType=VARCHAR}
        </if>
                                      
        <if test="gerensuodeshui!=null and gerensuodeshui!=''">
        ,
         gerensuodeshui=#{gerensuodeshui,jdbcType=VARCHAR}
        </if>
                                      
        <if test="zengzhishui!=null and zengzhishui!=''">
        ,
         zengzhishui=#{zengzhishui,jdbcType=VARCHAR}
        </if>
                                      
        <if test="chengjianshui!=null and chengjianshui!=''">
        ,
         chengjianshui=#{chengjianshui,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jiaoyufeifujia!=null and jiaoyufeifujia!=''">
        ,
         jiaoyufeifujia=#{jiaoyufeifujia,jdbcType=VARCHAR}
        </if>
                                      
        <if test="difangjiaoyufeifujia!=null and difangjiaoyufeifujia!=''">
        ,
         difangjiaoyufeifujia=#{difangjiaoyufeifujia,jdbcType=VARCHAR}
        </if>
                                      
        <if test="fanghongfei!=null and fanghongfei!=''">
        ,
         fanghongfei=#{fanghongfei,jdbcType=VARCHAR}
        </if>
                                      
        <if test="koufengongsishiwujiangli!=null and koufengongsishiwujiangli!=''">
        ,
         koufengongsishiwujiangli=#{koufengongsishiwujiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="koujicenggongsishiwujiangli!=null and koujicenggongsishiwujiangli!=''">
        ,
         koujicenggongsishiwujiangli=#{koujicenggongsishiwujiangli,jdbcType=VARCHAR}
        </if>
                                      
        <if test="koubaoxianbaozhang!=null and koubaoxianbaozhang!=''">
        ,
         koubaoxianbaozhang=#{koubaoxianbaozhang,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouxianshifajine!=null and shouxianshifajine!=''">
        ,
         shouxianshifajine=#{shouxianshifajine,jdbcType=VARCHAR}
        </if>
                                      
        <if test="caixianjixiao!=null and caixianjixiao!=''">
        ,
         caixianjixiao=#{caixianjixiao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="koucaixianjixiao!=null and koucaixianjixiao!=''">
        ,
         koucaixianjixiao=#{koucaixianjixiao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shifaheji!=null and shifaheji!=''">
        ,
         shifaheji=#{shifaheji,jdbcType=VARCHAR}
        </if>
                      WHERE  shenfenzhenghao=#{shenfenzhenghao,jdbcType=VARCHAR}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.Gongzidan">
		SELECT 
                         xuhao
                , bumen
                , xingming
                , xingbie
                , yinhangzhanghao
                , shenfenzhenghao
                , gonghao
                , zhijijintie
                , xiaoshoujingyingjintie
                , xinrenbaohu
                , nianzijintie
                , guanlijintie
                , duanxianyongjin
                , qudaoyongjin
                , ziyingyongjin
                , ziyingxuqi
                , wangdianxuqi
                , jiefa
                , xiaoji
                , qitakoukuan
                , koukuanxiaoji
                , yingfaxiaoji
                , fengognsijiangli
                , jicengjiangli
                , qitabutie
                , jicengqitabutie
                , zhanyejintie
                , fengongsishiwujiangli
                , jicengshiwujiangli
                , baoxianbaozhang
                , yingfaheji
                , weituoshebao
                , chanshuohuikoukuan
                , sandaikoukuanhechaoqikoukuan
                , gerensuodeshui
                , zengzhishui
                , chengjianshui
                , jiaoyufeifujia
                , difangjiaoyufeifujia
                , fanghongfei
                , koufengongsishiwujiangli
                , koujicenggongsishiwujiangli
                , koubaoxianbaozhang
                , shouxianshifajine
                , caixianjixiao
                , koucaixianjixiao
                , shifaheji
        		FROM gongzidan t
		WHERE  shenfenzhenghao=#{shenfenzhenghao,jdbcType=VARCHAR}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.Gongzidan">
		DELETE FROM gongzidan
		WHERE  shenfenzhenghao=#{shenfenzhenghao,jdbcType=VARCHAR}
	</delete>

</mapper>