<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinal.emp.dao.InsuranceRecordDao">
    <resultMap id="queryResultMap" type="com.chinal.emp.entity.InsuranceRecord">
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="baoxiandanhao" property="baoxiandanhao" jdbcType="VARCHAR" />
                <result column="toubaodanhao" property="toubaodanhao" jdbcType="VARCHAR" />
                <result column="yewuyuandaima" property="yewuyuandaima" jdbcType="VARCHAR" />
                <result column="yewuyuanxingming" property="yewuyuanxingming" jdbcType="VARCHAR" />
                <result column="xianzhongmingcheng" property="xianzhongmingcheng" jdbcType="VARCHAR" />
                <result column="baodanzhuangtai" property="baodanzhuangtai" jdbcType="VARCHAR" />
                <result column="toubaoriqi" property="toubaoriqi" jdbcType="VARCHAR" />
                <result column="shengxiaoriqi" property="shengxiaoriqi" jdbcType="VARCHAR" />
                <result column="jibenbaoe" property="jibenbaoe" jdbcType="VARCHAR" />
                <result column="jibenbaofei" property="jibenbaofei" jdbcType="VARCHAR" />
                <result column="toubaorenxingming" property="toubaorenxingming" jdbcType="VARCHAR" />
                <result column="toubaorenxingbie" property="toubaorenxingbie" jdbcType="VARCHAR" />
                <result column="toubaorenshenfenzhenghao" property="toubaorenshenfenzhenghao" jdbcType="VARCHAR" />
                <result column="toubaorenshoujihao" property="toubaorenshoujihao" jdbcType="VARCHAR" />
                <result column="toubaorentongxundizhi" property="toubaorentongxundizhi" jdbcType="VARCHAR" />
                <result column="toubaorenzhiye" property="toubaorenzhiye" jdbcType="VARCHAR" />
                <result column="beibaoxianrenxingming" property="beibaoxianrenxingming" jdbcType="VARCHAR" />
                <result column="beibaoxianrenxingbie" property="beibaoxianrenxingbie" jdbcType="VARCHAR" />
                <result column="beibaoxianrenshenfenzhenghao" property="beibaoxianrenshenfenzhenghao" jdbcType="VARCHAR" />
                <result column="beibaoxianrenshoujihao" property="beibaoxianrenshoujihao" jdbcType="VARCHAR" />
                <result column="beibaoxianrentongxundizhi" property="beibaoxianrentongxundizhi" jdbcType="VARCHAR" />
                <result column="beibaoxianrenzhiye" property="beibaoxianrenzhiye" jdbcType="VARCHAR" />
                <result column="beibaoxianrenyutoubaorenguanxi" property="beibaoxianrenyutoubaorenguanxi" jdbcType="VARCHAR" />
                <result column="shouyirenxingming" property="shouyirenxingming" jdbcType="VARCHAR" />
                <result column="shouyirenxingbie" property="shouyirenxingbie" jdbcType="VARCHAR" />
                <result column="shouyirenshenfenzhenghao" property="shouyirenshenfenzhenghao" jdbcType="VARCHAR" />
                <result column="shouyishunxu" property="shouyishunxu" jdbcType="VARCHAR" />
                <result column="shouyifene" property="shouyifene" jdbcType="VARCHAR" />
                <result column="shouyirenyutoubaorenguanxi" property="shouyirenyutoubaorenguanxi" jdbcType="VARCHAR" />
                <result column="jiaofeiqi" property="jiaofeiqi" jdbcType="VARCHAR" />
                <result column="baoxianqi" property="baoxianqi" jdbcType="VARCHAR" />
                <result column="jiaofeiyinhang" property="jiaofeiyinhang" jdbcType="VARCHAR" />
                <result column="jiaofeizhanghao" property="jiaofeizhanghao" jdbcType="VARCHAR" />
                <result column="chushilaiyuan" property="chushilaiyuan" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT 
                         t.id
                , t.baoxiandanhao
                , t.toubaodanhao
                , t.yewuyuandaima
                , t.yewuyuanxingming
                , t.xianzhongmingcheng
                , t.baodanzhuangtai
                , t.toubaoriqi
                , t.shengxiaoriqi
                , t.jibenbaoe
                , t.jibenbaofei
                , t.toubaorenxingming
                , t.toubaorenxingbie
                , t.toubaorenshenfenzhenghao
                , t.toubaorenshoujihao
                , t.toubaorentongxundizhi
                , t.toubaorenzhiye
                , t.beibaoxianrenxingming
                , t.beibaoxianrenxingbie
                , t.beibaoxianrenshenfenzhenghao
                , t.beibaoxianrenshoujihao
                , t.beibaoxianrentongxundizhi
                , t.beibaoxianrenzhiye
                , t.beibaoxianrenyutoubaorenguanxi
                , t.shouyirenxingming
                , t.shouyirenxingbie
                , t.shouyirenshenfenzhenghao
                , t.shouyishunxu
                , t.shouyifene
                , t.shouyirenyutoubaorenguanxi
                , t.jiaofeiqi
                , t.baoxianqi
                , t.jiaofeiyinhang
                , t.jiaofeizhanghao
                , t.chushilaiyuan
        		FROM insurance_record t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM insurance_record t
		<include refid="expressionBlock.where" />
    </select>
    
     <select id="findInsuranceCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(distinct t.toubaorenshenfenzhenghao) FROM insurance_record t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.chinal.emp.entity.InsuranceRecord"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO insurance_record
         (
                                                  `baoxiandanhao`
                                        , `toubaodanhao`
                                        , `yewuyuandaima`
                                        , `yewuyuanxingming`
                                        , `xianzhongmingcheng`
                                        , `baodanzhuangtai`
                                        , `toubaoriqi`
                                        , `shengxiaoriqi`
                                        , `jibenbaoe`
                                        , `jibenbaofei`
                                        , `toubaorenxingming`
                                        , `toubaorenxingbie`
                                        , `toubaorenshenfenzhenghao`
                                        , `toubaorenshoujihao`
                                        , `toubaorentongxundizhi`
                                        , `toubaorenzhiye`
                                        , `beibaoxianrenxingming`
                                        , `beibaoxianrenxingbie`
                                        , `beibaoxianrenshenfenzhenghao`
                                        , `beibaoxianrenshoujihao`
                                        , `beibaoxianrentongxundizhi`
                                        , `beibaoxianrenzhiye`
                                        , `beibaoxianrenyutoubaorenguanxi`
                                        , `shouyirenxingming`
                                        , `shouyirenxingbie`
                                        , `shouyirenshenfenzhenghao`
                                        , `shouyishunxu`
                                        , `shouyifene`
                                        , `shouyirenyutoubaorenguanxi`
                                        , `jiaofeiqi`
                                        , `baoxianqi`
                                        , `jiaofeiyinhang`
                                        , `jiaofeizhanghao`
                                        , `chushilaiyuan`
                              )
	VALUES (
                                                  #{baoxiandanhao,jdbcType=VARCHAR}
                                        , #{toubaodanhao,jdbcType=VARCHAR}
                                        , #{yewuyuandaima,jdbcType=VARCHAR}
                                        , #{yewuyuanxingming,jdbcType=VARCHAR}
                                        , #{xianzhongmingcheng,jdbcType=VARCHAR}
                                        , #{baodanzhuangtai,jdbcType=VARCHAR}
                                        , #{toubaoriqi,jdbcType=VARCHAR}
                                        , #{shengxiaoriqi,jdbcType=VARCHAR}
                                        , #{jibenbaoe,jdbcType=VARCHAR}
                                        , #{jibenbaofei,jdbcType=VARCHAR}
                                        , #{toubaorenxingming,jdbcType=VARCHAR}
                                        , #{toubaorenxingbie,jdbcType=VARCHAR}
                                        , #{toubaorenshenfenzhenghao,jdbcType=VARCHAR}
                                        , #{toubaorenshoujihao,jdbcType=VARCHAR}
                                        , #{toubaorentongxundizhi,jdbcType=VARCHAR}
                                        , #{toubaorenzhiye,jdbcType=VARCHAR}
                                        , #{beibaoxianrenxingming,jdbcType=VARCHAR}
                                        , #{beibaoxianrenxingbie,jdbcType=VARCHAR}
                                        , #{beibaoxianrenshenfenzhenghao,jdbcType=VARCHAR}
                                        , #{beibaoxianrenshoujihao,jdbcType=VARCHAR}
                                        , #{beibaoxianrentongxundizhi,jdbcType=VARCHAR}
                                        , #{beibaoxianrenzhiye,jdbcType=VARCHAR}
                                        , #{beibaoxianrenyutoubaorenguanxi,jdbcType=VARCHAR}
                                        , #{shouyirenxingming,jdbcType=VARCHAR}
                                        , #{shouyirenxingbie,jdbcType=VARCHAR}
                                        , #{shouyirenshenfenzhenghao,jdbcType=VARCHAR}
                                        , #{shouyishunxu,jdbcType=VARCHAR}
                                        , #{shouyifene,jdbcType=VARCHAR}
                                        , #{shouyirenyutoubaorenguanxi,jdbcType=VARCHAR}
                                        , #{jiaofeiqi,jdbcType=VARCHAR}
                                        , #{baoxianqi,jdbcType=VARCHAR}
                                        , #{jiaofeiyinhang,jdbcType=VARCHAR}
                                        , #{jiaofeizhanghao,jdbcType=VARCHAR}
                                        , #{chushilaiyuan,jdbcType=VARCHAR}
                     
        )
	</insert>


    <update id="update" parameterType="com.chinal.emp.entity.InsuranceRecord">
    UPDATE insurance_record
    SET 
                                                     
        <if test="baoxiandanhao!=null and baoxiandanhao!=''">
         baoxiandanhao=#{baoxiandanhao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaodanhao!=null and toubaodanhao!=''">
        ,
         toubaodanhao=#{toubaodanhao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="yewuyuandaima!=null and yewuyuandaima!=''">
        ,
         yewuyuandaima=#{yewuyuandaima,jdbcType=VARCHAR}
        </if>
                                      
        <if test="yewuyuanxingming!=null and yewuyuanxingming!=''">
        ,
         yewuyuanxingming=#{yewuyuanxingming,jdbcType=VARCHAR}
        </if>
                                      
        <if test="xianzhongmingcheng!=null and xianzhongmingcheng!=''">
        ,
         xianzhongmingcheng=#{xianzhongmingcheng,jdbcType=VARCHAR}
        </if>
                                      
        <if test="baodanzhuangtai!=null and baodanzhuangtai!=''">
        ,
         baodanzhuangtai=#{baodanzhuangtai,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaoriqi!=null and toubaoriqi!=''">
        ,
         toubaoriqi=#{toubaoriqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shengxiaoriqi!=null and shengxiaoriqi!=''">
        ,
         shengxiaoriqi=#{shengxiaoriqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jibenbaoe!=null and jibenbaoe!=''">
        ,
         jibenbaoe=#{jibenbaoe,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jibenbaofei!=null and jibenbaofei!=''">
        ,
         jibenbaofei=#{jibenbaofei,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorenxingming!=null and toubaorenxingming!=''">
        ,
         toubaorenxingming=#{toubaorenxingming,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorenxingbie!=null and toubaorenxingbie!=''">
        ,
         toubaorenxingbie=#{toubaorenxingbie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorenshenfenzhenghao!=null and toubaorenshenfenzhenghao!=''">
        ,
         toubaorenshenfenzhenghao=#{toubaorenshenfenzhenghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorenshoujihao!=null and toubaorenshoujihao!=''">
        ,
         toubaorenshoujihao=#{toubaorenshoujihao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorentongxundizhi!=null and toubaorentongxundizhi!=''">
        ,
         toubaorentongxundizhi=#{toubaorentongxundizhi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="toubaorenzhiye!=null and toubaorenzhiye!=''">
        ,
         toubaorenzhiye=#{toubaorenzhiye,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenxingming!=null and beibaoxianrenxingming!=''">
        ,
         beibaoxianrenxingming=#{beibaoxianrenxingming,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenxingbie!=null and beibaoxianrenxingbie!=''">
        ,
         beibaoxianrenxingbie=#{beibaoxianrenxingbie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenshenfenzhenghao!=null and beibaoxianrenshenfenzhenghao!=''">
        ,
         beibaoxianrenshenfenzhenghao=#{beibaoxianrenshenfenzhenghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenshoujihao!=null and beibaoxianrenshoujihao!=''">
        ,
         beibaoxianrenshoujihao=#{beibaoxianrenshoujihao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrentongxundizhi!=null and beibaoxianrentongxundizhi!=''">
        ,
         beibaoxianrentongxundizhi=#{beibaoxianrentongxundizhi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenzhiye!=null and beibaoxianrenzhiye!=''">
        ,
         beibaoxianrenzhiye=#{beibaoxianrenzhiye,jdbcType=VARCHAR}
        </if>
                                      
        <if test="beibaoxianrenyutoubaorenguanxi!=null and beibaoxianrenyutoubaorenguanxi!=''">
        ,
         beibaoxianrenyutoubaorenguanxi=#{beibaoxianrenyutoubaorenguanxi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyirenxingming!=null and shouyirenxingming!=''">
        ,
         shouyirenxingming=#{shouyirenxingming,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyirenxingbie!=null and shouyirenxingbie!=''">
        ,
         shouyirenxingbie=#{shouyirenxingbie,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyirenshenfenzhenghao!=null and shouyirenshenfenzhenghao!=''">
        ,
         shouyirenshenfenzhenghao=#{shouyirenshenfenzhenghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyishunxu!=null and shouyishunxu!=''">
        ,
         shouyishunxu=#{shouyishunxu,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyifene!=null and shouyifene!=''">
        ,
         shouyifene=#{shouyifene,jdbcType=VARCHAR}
        </if>
                                      
        <if test="shouyirenyutoubaorenguanxi!=null and shouyirenyutoubaorenguanxi!=''">
        ,
         shouyirenyutoubaorenguanxi=#{shouyirenyutoubaorenguanxi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jiaofeiqi!=null and jiaofeiqi!=''">
        ,
         jiaofeiqi=#{jiaofeiqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="baoxianqi!=null and baoxianqi!=''">
        ,
         baoxianqi=#{baoxianqi,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jiaofeiyinhang!=null and jiaofeiyinhang!=''">
        ,
         jiaofeiyinhang=#{jiaofeiyinhang,jdbcType=VARCHAR}
        </if>
                                      
        <if test="jiaofeizhanghao!=null and jiaofeizhanghao!=''">
        ,
         jiaofeizhanghao=#{jiaofeizhanghao,jdbcType=VARCHAR}
        </if>
                                      
        <if test="chushilaiyuan!=null and chushilaiyuan!=''">
        ,
         chushilaiyuan=#{chushilaiyuan,jdbcType=VARCHAR}
        </if>
                      WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.chinal.emp.entity.InsuranceRecord">
		SELECT 
                         id
                , baoxiandanhao
                , toubaodanhao
                , yewuyuandaima
                , yewuyuanxingming
                , xianzhongmingcheng
                , baodanzhuangtai
                , toubaoriqi
                , shengxiaoriqi
                , jibenbaoe
                , jibenbaofei
                , toubaorenxingming
                , toubaorenxingbie
                , toubaorenshenfenzhenghao
                , toubaorenshoujihao
                , toubaorentongxundizhi
                , toubaorenzhiye
                , beibaoxianrenxingming
                , beibaoxianrenxingbie
                , beibaoxianrenshenfenzhenghao
                , beibaoxianrenshoujihao
                , beibaoxianrentongxundizhi
                , beibaoxianrenzhiye
                , beibaoxianrenyutoubaorenguanxi
                , shouyirenxingming
                , shouyirenxingbie
                , shouyirenshenfenzhenghao
                , shouyishunxu
                , shouyifene
                , shouyirenyutoubaorenguanxi
                , jiaofeiqi
                , baoxianqi
                , jiaofeiyinhang
                , jiaofeizhanghao
                , chushilaiyuan
        		FROM insurance_record t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.chinal.emp.entity.InsuranceRecord">
		DELETE FROM insurance_record
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>