.settings
.classpath
.gitignore
.project
target
../.project
.DS_Store
.#webclasspath

*/.settings
*/.classpath
*/.gitignore
*/.project
*/target
*/.DS_Store
*/.#webclasspath

*/**/.settings
*/**/.classpath
*/**/.gitignore
*/**/.project
*/**/target
*/**/.DS_Store
*/**/.#webclasspath
*/**/*.log
