<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="permission.dao.RSysResTabDao">
	<resultMap id="queryResultMap" type="permission.entity.RSysResTab">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="tab_name" property="tabName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT
		id
		, tab_name
		FROM r_sys_res_tab t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
		</if>
	</select>


	<select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM r_sys_res_tab t
		<include refid="expressionBlock.where" />
	</select>

	<insert id="save" parameterType="permission.entity.RSysResTab"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO r_sys_res_tab
		(
		`tab_name`
		)
		VALUES (
		#{tabName,jdbcType=VARCHAR}

		)
	</insert>


	<update id="update" parameterType="permission.entity.RSysResTab">
		UPDATE r_sys_res_tab
		SET
		tab_name=#{tabName,jdbcType=VARCHAR}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>

	<select id="get" resultMap="queryResultMap" parameterType="permission.entity.RSysResTab">
		SELECT
		id
		, tab_name
		FROM r_sys_res_tab t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="del" parameterType="permission.entity.RSysResTab">
		DELETE FROM r_sys_res_tab
		WHERE id
		= #{id,jdbcType=INTEGER}
	</delete>

</mapper>