<!DOCTYPE html>
<html>
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="/morrisjs/morris.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <!--<img src="/images/FBcover1200x628.png" width="1000"-->
             <!--th:src="@{images/FBcover1200x628.png}"/>-->
        <h1>Hello</h1>
        <h2>User Add</h2>
    </div>
</div>

</body>
</html>