#if(${buttons})
<div class="Details_edit" id="det" style="overflow: hidden; display:none;">
#foreach( ${button} in ${buttons} )
	#if(!$button.param)
	<a id="${button.id}" class="${button.icon}" title="${button.name}" href="javascript:${button.jsNameSpace}.${button.jsFun}('${templateId}', '${portlet.id}', '${button.id}');"/>
	#else
	<a id="${button.id}" class="${button.icon}" title="${button.name}" href="javascript:${button.jsNameSpace}.${button.jsFun}('${templateId}', '${portlet.id}', '${button.id}',${button.param});"/>	
	#end
#end	
</div>
#end

<script>					
    $('#${portlet.id}').hover(function(){
        $('#${portlet.id} #det').stop(true,true).show(200);
    },function(){
      $('#${portlet.id} #det').stop(true,true).hide(200);
    });
</script>