<div id="${portlet.id}_component" style="width:100%;height:100%;">
    <div class="module_radius_blue noborder" style="width:100%;height:100%;">
        <div class="Det_title_blue" style="cursor:move;">
            <p class="Det_title_blue">用户体验趋势</p>
            <span style="font-size:12px;">#if(${displayTimeRange})${displayTimeRange}#end</span>
        </div>
        <div class="public" style="height:92%;">
	        #if("${nodata}" == 'true')
	            <div style="width:100px;height:32px;margin:auto;left:0px;right:0px;top:-30px;bottom:0px;position:absolute;">
	                <ul><li class="ico_none_data"></li><li class="txt_none_data">暂无数据</li></ul>
	            </div>
	        #else
	            <div id="cl_insur_trend_div" style="clear:left;width:400px;height:250px;"></div>
	        #end
        </div>
    </div>
</div>

<script type="text/javascript">
    var freq = '${freq}';
    var portletId = "${portlet.id}";
    var insurTrendReport = ${insurTrendReport};
    var timeType="${timeType}";
    var displayTimeRange="${displayTimeRange}";
    var nodata="${nodata}";
</script>
<script type="text/javascript" src="${ctx}res/js/cl_insur_trend.js" namespace="ClInsurTrend" initparam="${portlet.id}"></script>
