<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/data/neo4j
      http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">
  <context:component-scan base-package="com.hxr.javatone.rpc.server"/>
  <context:property-placeholder location="classpath:rpc-config.properties"/>
  <!-- 配置服务注册组件 -->
  <bean id="serviceRegistry" class="com.hxr.javatone.rpc.registry.ServiceRegistry">
    <constructor-arg name="registryAddress" value="${registry.address}"/>
  </bean>
  <!-- 配置 RPC 服务器 -->
  <bean id="rpcServer" class="com.hxr.javatone.rpc.server.RpcServer">
    <constructor-arg name="serverAddress" value="${server.address}"/>
    <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
  </bean>
</beans>