<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">

   <context:component-scan base-package="com.hxr.javatone.neo4j.springdata" />

   <neo4j:config storeDirectory="/Users/hanxirui/Documents/workspace/library/neo4j-community-2.2.2/data/edu.db" 
      base-package="com.hxr.javatone.neo4j.springdata"/>

   <neo4j:repositories base-package="com.hxr.javatone.neo4j.springdata"/>

   <tx:annotation-driven />
</beans>
